node_modules/
dist/
.env
*.pem
*.p12
*.pfx
*.key
**/serviceAccountKey.json
**/firebase-sa.json
**/kubeconfig
**/kubeconfig.*
.funcignore
local.settings.json
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
*.auto.tfvars
*.auto.tfvars.json
.terraform/
.terraform.lock.hcl
*.enc.yaml
keys.txt
