# {{ ansible_managed }}
# Read by the coder service only. Names verified against
# https://coder.com/docs/reference/cli/server (see docker-compose.yml).
CODER_OAUTH2_GITHUB_CLIENT_ID={{ coder_oauth2_github_client_id }}
CODER_OAUTH2_GITHUB_CLIENT_SECRET={{ coder_oauth2_github_client_secret }}
CODER_OAUTH2_GITHUB_ALLOWED_ORGS={{ coder_oauth2_github_allowed_orgs | join(',') }}
CODER_OAUTH2_GITHUB_ALLOW_SIGNUPS={{ coder_oauth2_github_allow_signups | bool | lower }}
CODER_PG_CONNECTION_URL={{ coder_pg_connection_url }}
