# {{ ansible_managed }}
# Compose interpolation for {{ coder_compose_file }}. Not secret: the image
# pins from group_vars/all.yml and the host's docker group id.
CODER_IMAGE={{ coder_image_ref }}
CODER_POSTGRES_IMAGE={{ coder_postgres_image_ref }}
DOCKER_GID={{ coder_docker_gid }}
