# {{ ansible_managed }}
# Compose interpolation for {{ coder_compose_file }}. Not secret: the three
# image pins from group_vars/all.yml.
CODER_IMAGE={{ coder_image_ref }}
CODER_POSTGRES_IMAGE={{ coder_postgres_image_ref }}
CODER_DOCKER_PROXY_IMAGE={{ coder_docker_proxy_image_ref }}
